@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

nav {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  display: inline-block;
}

nav a {
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

.blog-post {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.post-info {
  margin-right: 20px;
}

.post-content {
  flex-grow: 1;
}

.category {
  font-weight: bold;
  margin: 0;
}

.category a {
  text-decoration: none;
}

.date,
.author {
  margin: 0;
  font-style: italic;
}

.summary {
  margin-top: 10px;
  text-align: left;
  display: block;
}
