@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Navigation*/
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  display: inline-block;
}

nav a {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
  margin: 0;
  padding: 0 20px;
  background-color: #6a6262;
}

h1 {
  padding: 30px 20px;
  text-align: center;
}

a{
  border-radius: 5px;
}

.heading {
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: #ddd;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-info {
  margin-right: 20px;
}

.post-content {
  flex-grow: 1;
}

.category {
  color: #000;
  font-weight: bold;
  margin: 2px;
}

.category-ref {
  text-decoration: none;
  color: #ddd;
}

.category a {
  text-decoration: none;
}

.date,
.author {
  margin: 0;
  font-style: italic;
}

.summary {
  margin-top: 10px;
  text-align: left;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
