@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Navigation*/
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  display: inline-block;
}

nav a {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: antiquewhite;
  margin: 10%;
  padding: 0 20px;
  background-color: #6a6262;
}

h1 {
  padding: 30px 20px;
  text-align: center;
}

a{
  border-radius: 5px;
}

.heading {
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: #ddd;
}

/*blog post*/
#blog-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog-title h1 {
  margin: 0;
}

#blog-category {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#blog-category p {
  margin: 5px;
}

#blog-category a {
  margin: 5px;
  text-decoration: none;
  color: #ddd;
}

#blog-author {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#blog-author p {
  margin: 5px;
}

#blog-author a {
  margin: 5px;
  text-decoration: none;
  color: #ddd;
}

#blog-date {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#blog-date p {
  margin: 5px;
}

#blog-date a {
  margin: 5px;
  text-decoration: none;
  color: #ddd;
}

#blog-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#blog-content p {
  margin: 5px;
}

#blog-content a {
  margin: 5px;
  text-decoration: none;
  color: #e4ed67;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
.social-links {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.social-links a {
  display: block;
  margin-bottom: 10px;
}




